.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  padding: 15px 20px 20px;
  background-color: var(--header);
  border-radius: 10px;
}

.title {
  font-family: Nunito;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  margin-bottom: 15px;
}

.form {
  display: flex;
  flex-direction: column;
}

.legend {
  display: flex;
  margin-bottom: 25px;
  gap: 10px;
  justify-content: space-between;
  flex-direction: column;

  @media (min-width: 540px) {
    flex-direction: row;
  }
  @media (min-width: 768px) {
    gap: 15px;
  }
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  min-width: 140px;
  position: relative;
  width: 100%;
}

.label {
  color: var(--text);
  font-family: Nunito;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 2px;
  padding-left: 10px;
}

.input {
  border-radius: 6px;
  padding: 10px;
}

.button {
  align-self: flex-end;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  max-width: 150px;
  padding: 6px 30px;
}

.error {
  font-size: 12px;
  position: absolute;
  right: 5px;
  bottom: -20px;
}

.errorMini {
  font-size: 12px;
  position: absolute;
  left: 20px;
  bottom: 15%;
}
