.container {
  min-width: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 40px;
  gap: 20px;
  justify-content: center;

  @media (min-width: 540px) {
    justify-content: space-between;
  }

  @media (min-width: 768px) {
    justify-content: space-between;
  }
}

.title {
  width: 100%;
  font-family: Comfortaa;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;

  @media (min-width: 540px) {
    font-size: 30px;
    text-align: left;
  }

  @media (min-width: 768px) {
    font-size: 40px;
  }

  @media (min-width: 980px) {
    width: max-content;
  }
}

.wrapperButton {
  justify-self: end;
  position: relative;
  // max-width: 300px;
  // width: 100%;
}

.button {
  margin-left: auto;
  font-family: Nunito;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;
  padding: 10px 20px;

  @media (min-width: 540px) {
    font-size: 16px;
    padding: 12px 25px;
  }

  @media (min-width: 768px) {
    font-size: 18px;
    padding: 12px 30px;
  }
}

.currencies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  max-width: 400px;
  margin: 0 auto;
  width: 100%;
  flex-direction: column;

  @media (min-width: 540px) {
    max-width: none;
  }

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.currenciesTitle {
  font-family: Comfortaa;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;

  @media (min-width: 768px) {
    font-size: 26px;
  }
}

.sort {
  align-items: center;
  display: flex;
  gap: 15px;
}

.sortTitle {
  color: var(--text);
  font-family: Nunito;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  align-self: center;
  @media (min-width: 540px) {
    font-size: 16px;
  }

  @media (min-width: 768px) {
    font-size: 18px;
  }
}

.select {
  cursor: pointer;
  // width: 100px;
  background-color: initial;
  border: none;
  color: #fff;
  font-size: 14px;
  line-height: 1.2;
  outline: transparent;

  @media (min-width: 540px) {
    font-size: 16px;
  }

  @media (min-width: 768px) {
    // font-size: 18px;
  }
}

.select {
  background-color: var(--bgcolor);
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100%;

  @media (min-width: 640px) {
    justify-content: start;
  }
}

.preloaderContainer {
  align-items: center;
  display: flex;
  height: 90vh;
  justify-content: center;
  width: 100%;
}

.card {
  background: var(--header);
  border: 2px solid var(--pink);
  border-radius: 10px;
  display: flex;
  max-width: 400px;
  flex-basis: 100%;
  flex-direction: column;
  padding: 15px 20px;

  @media (min-width: 640px) {
    flex-basis: calc(100% / 2 - 10px);
    max-width: none;
  }

  @media (min-width: 980px) {
    flex-basis: calc(100% / 3 - 14px);
  }
}

.error {
  @media (min-width: 540px) {
    font-size: 22px;
  }

  @media (min-width: 768px) {
    font-size: 28px;
  }
}

.errorMini {
  position: absolute;
  bottom: -25px;
  right: 0;
  text-wrap: nowrap;
}
