.history {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: 540px) {
    gap: 20px;
  }

  @media (min-width: 768px) {
    gap: 30px;
  }
}

.title {
  font-family: Comfortaa;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  line-height: 1.4;

  @media (min-width: 540px) {
    gap: 20px;
    font-size: 20px;
  }

  @media (min-width: 768px) {
    gap: 30px;
    font-size: 26px;
  }
}

.container {
  width: 100%;
  max-height: 275px;
  border-radius: 10px;
  overflow-x: auto;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--text) var(--header);
  scroll-behavior: smooth;

  @media (min-width: 540px) {
    max-height: 320px;
  }

  @media (min-width: 768px) {
    max-height: 475px;
  }
}

.container::-webkit-scrollbar {
  width: 14px;
}

.container::-webkit-scrollbar-track {
  background: var(--header);
}

.container::-webkit-scrollbar-thumb {
  background-color: var(--text);
  border-radius: 1px;
  border: 3px solid var(--header);
}

.table {
  background-color: var(--header);
  padding: 10px;
  width: 100%;

  // @media (max-width: 768px) {
  //   max-width: 100%;
  //   padding: 5px;
  // }

  @media (min-width: 540px) {
    padding: 20px;
  }
}

.thead {
  color: var(--text);
  font-family: Nunito;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;

  @media (min-width: 540px) {
    font-size: 15px;
  }
}

.th {
  border-bottom: 1px solid var(--bgcolor);
  padding: 8px 0 8px 4px;
  text-align: left;

  @media (min-width: 540px) {
    padding: 10px 0 16px 20px;
  }
}

.th:first-child {
  padding-left: 0;
}

.th:nth-child(2) {
  border-left: 1px solid var(--bgcolor);
  border-right: 1px solid var(--bgcolor);
}

.th:last-child {
  padding-left: 4px;

  @media (min-width: 540px) {
    padding-left: 8px;
  }

  @media (min-width: 768px) {
    padding-left: 12px;
  }
}

.tbody {
  font-family: Nunito;
  font-size: 10px;
  font-weight: 700;
  line-height: 1.3;

  @media (min-width: 540px) {
    font-size: 12px;
  }

  @media (min-width: 768px) {
    font-size: 15px;
  }
}
