.Account_container__bOskA {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 65px;
  column-gap: 15px;
}
.Account_container__header__MABYz {
  align-items: center;
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  margin-bottom: 80px;
}
.Account_title__oytHW {
  font-family: Comfortaa;
  font-size: 26px;
  font-weight: 700;
  line-height: 29px;
}

.Account_button__3jGkT {
  align-items: center;
  display: flex;
  gap: 10px;
  padding: 12px 30px;
}

.Account_preloader__container__1EeB8 {
  align-items: center;
  display: flex;
  height: 90vh;
  justify-content: center;
  width: 100%;
}
.Account_transaction__fgGIA {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 100%;
}
.Account_transaction__title__5k3f {
  margin-bottom: 40px;
}
.Account_transaction__form__mKYvj {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}
.Account_transaction__inputwrap__ORoWP {
  display: flex;
  flex-direction: column;
  width: 380px;
}
.Account_transaction__label__rsShR {
  color: var(--text);
  font-family: Nunito;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 2px;
  padding-left: 15px;
}
.Account_transaction__input__rHAe {
  border: 2px solid var(--pink);
  border-radius: 10px;
  min-height: 70px;
  padding: 20px;
}
.Account_button__3jGkT {
  font-family: Nunito;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  padding: 22.5px 143px;
}
@media (max-width: 768px) {
  .Account_container__header__MABYz {
    flex-direction: column-reverse;
    gap: 15px;
    margin-bottom: 30px;
  }
  .Account_title__oytHW {
    font-size: 14px;
  }
  .Account_button__3jGkT {
    font-size: 16px;
    padding: 15px 30px;
  }

  .Account_transaction__fgGIA {
    margin-top: 0;
  }
  .Account_transaction__title__5k3f {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  .Account_transaction__form__mKYvj {
    flex-direction: column;
    gap: 15px;
  }
  .Account_transaction__inputwrap__ORoWP {
    max-width: 100%;
  }
  .Account_button__3jGkT {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
