.footer {
  bottom: 50px;
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);

  @media (max-width: 768px) {
    bottom: 20px;
    width: 100%;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copy {
  @media (max-width: 768px) {
    font-size: 14px;
  }
}
