.statistic {
  max-width: 580px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
  gap: 10px;
}

.leftBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}

.buttonS {
  background-color: transparent;
  color: var(--white);
  outline: none;
  border: none;
  text-align: left;
}

.centerBlock {
  max-width: 221px;
}

.rightBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}

.rigthWrap {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.trasparent {
  background-color: transparent;
}

.pink {
  background-color: #b865d6;
}

.violet {
  background-color: #4b00ca;
}

.subtitle {
  justify-self: flex-start;
}

.amount {
}
