.container {
  display: flex;
  justify-content: center;
  padding-top: 40px;

  @media (min-width: 540px) {
    padding-top: 80px;
  }

  @media (min-width: 768px) {
    padding-top: 120px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
  padding: 25px 15px;
  max-width: 580px;
  width: 100%;
  background: var(--header);
  border-radius: 10px;

  @media (min-width: 540px) {
    padding: 50px 25px;
    gap: 20px;
  }

  @media (min-width: 768px) {
    gap: 30px;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: Comfortaa;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 20px;

  @media (min-width: 540px) {
    font-size: 30px;
  }

  @media (min-width: 768px) {
    font-size: 38px;
  }
}

.inputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  @media (min-width: 540px) {
    margin-bottom: 25px;
  }

  @media (min-width: 768px) {
    margin-bottom: 30px;
  }
}

.inputWrapper:not(:last-of-type) {
  margin-bottom: 10px;

  @media (min-width: 540px) {
    margin-bottom: 15px;
  }

  @media (min-width: 768px) {
    margin-bottom: 20px;
  }
}

.label {
  color: var(--text);
  font-family: Nunito;
  font-size: 15px;
  margin-bottom: 2px;
}

.input {
  border: 2px solid var(--pink);
  border-radius: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 1.3;

  @media (min-width: 540px) {
    font-size: 16px;
    padding: 17px;
  }

  @media (min-width: 768px) {
    padding: 20px;
  }
}

.input[aria-invalid="true"] {
  outline: 2px solid tomato;
}

.button {
  font-family: Nunito;
  font-size: 14px;
  font-weight: 700;
  padding: 15px;

  @media (min-width: 540px) {
    padding: 17px;
    font-size: 16px;
  }

  @media (min-width: 768px) {
    padding: 20px;
    font-size: 18px;
  }
}

.error {
  color: red;
  font-size: 12px;

  @media (min-width: 540px) {
    font-size: 14px;
  }

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.errorPosition {
  bottom: 2px;
  position: absolute;
  right: 10px;
}
